.App-header {
    height: 25vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.whloe-div{
    height: 100vh;
    display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.button-container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 15rem;
    margin-top: 6rem;
}
.minecraft-button {
    background-color: lightblue;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}
.single-player:hover + .hover1{
    z-index: 10;
}
.single-player:hover + .multi-player,
.single-player:hover + .third-button {
    display: none;
}
